# -*- mode: conf-unix; indent-tabs-mode: nil -*-
[user]
    name = Bruno Furtado

[core]
    editor = emacs

[push]
    default = matching

[init]
    defaultBranch = main

[pager]
  diff = "ov -F --section-delimiter '^diff'"
  show = "ov -F --section-delimiter '^diff'"

[alias]
    co = checkout
    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lg2 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=short
    lg3 = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --abbrev-commit --date=iso
    st = status
    diff2 = diff --word-diff

    find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
    show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"

    ggb = "!f() { \
        git --no-pager grep -n \"$1\" | while IFS=: read -r file line _; do \
            git --no-pager blame -L ${line},${line} -- $file; \
        done; \
    }; f"

[includeIf "gitdir:~/projects/github.com/bcfurtado/"]
    path = ~/.gitconfig-personal

[include]
    path = ~/.gitconfig-extra
